pyrofork
tgcrypto
py-tgcalls[pyrogram]
youtube-search-python
yt-dlp
aiohttp
aiofiles
ffmpeg-python
pillow
psutil
motor
spotipy
rapidfuzz
mutagen
cachetools
python-dotenv
uvloop; sys_platform != 'win32'
